nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid lightgray; 
    background-color:#eeee;
    justify-content: space-around;
    height: 50px;
    grid-area: nav;
    align-items: center;
    margin-bottom: 30px;

    /* background-color: azure; */
}
.menu{
    margin-right: 210px;
}
.menu a {
    text-decoration: none;
    color: black;
}


li{
    display:inline-block;
    list-style:none;
    list-style-type:none;
    margin-right: 6px;
    text-decoration:none;
    

}